
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.headerContainer{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.top{
text-align: center;
height: 12rem;
}

.text{
    background-color: coral;
    min-width: 25rem;
    flex-grow: 2;
    height: 12rem;
    flex-shrink: 1;
}

h1{
    font-family: 'Rampart One';
    font-size: 3em;
}

.emily{
    flex-grow: 1;
    flex-shrink: 1;
}

.code{
    flex-grow: 1;
    flex-shrink: 1;
}

header img{
    width: 25rem;
    height: 12rem;
    object-fit: cover;
    object-position: -90% 0;
}

body{
    background-color: aquamarine;
}

@media only screen and (max-width: 1250px) {
    .headerContainer {
        flex-wrap: wrap;
    }
    .text{
        max-width: 25rem;
    }

    
  }

  @media only screen and (max-width: 1410px) {
    h1 {
        font-size: 2.5em;
    }
  }